@import '../styles/common.scss';

.form-box {
  width: 100%;

  &__title {
    color: $text-primary;
    font-family: 'Roboto Slab', serif;
    margin: 40px 40px 20px;
    font-size: 2.5rem;

    @include tablet() {
      font-size: 20px;
    }
  }

  &__form {
    width: 100%;
    background-color: $primary;
    padding: 0 40px;
  }

  &__comment {
    margin: 30px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.6rem;
    color: $text-primary;

    & > a {
      font-family: 'Roboto Slab', serif;
      font-size: 1.6rem;
      color: $text-primary;
      cursor: pointer;
      transition: color 0.3s;

      & :visited {
        color: $text-primary;
      }

      &:hover {
        color: $form-text;
      }
    }
  }
}

.sign-in-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__submit {
    width: 150px;
    margin: 35px auto;
    height: 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: $accent;
    color: $text-primary;
    border: none;
    transition: background-color 0.3s;

    &--disabled {
      background-color: #fa8b83;
    }
  }
}

.control {
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    margin-top: 35px;
    margin-bottom: 5px;
    color: $text-primary;
    font-size: 1.6rem;
    font-family: 'Roboto Slab', serif;
  }

  &__input {
    height: 35px;
    font-size: 1.8rem;
    font-family: 'Roboto Slab', serif;
  }

  &__validator {
    color: $accent;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    position: absolute;
    bottom: -24px;
    margin: 0;
    animation: appear 0.3s;
  }
}
