<div class="app-container">
  <img
    src="assets/Angular_full_color_logo.png"
    alt="Angulart logo"
    class="logo"
  />
  <div class="form-box">
    <h1 class="form-box__title">Sign up</h1>
    <div class="form-box__form">
      <form action="" class="sign-in-form">
        <div class="control">
          <label class="control__label" for="email">Email address</label>
          <input class="control__input" id="email" type="text" />
          <p class="control__validator">Email required</p>
        </div>

        <div class="control">
          <label class="control__label" for="email">Full name</label>
          <input class="control__input" id="email" type="text" />
          <p class="control__validator">Email required</p>
        </div>

        <div class="control">
          <label class="control__label" for="password">Password</label>
          <input class="control__input" id="password" type="password" />
          <p class="control__validator">Password required</p>
        </div>

        <div class="control">
          <label class="control__label" for="password"
            >Confirm your password</label
          >
          <input class="control__input" id="password" type="password" />
          <p class="control__validator">Password required</p>
        </div>

        <button class="sign-in-form__submit" type="submit">Continue</button>
      </form>
    </div>
    <p class="form-box__comment">
      Already using our app?
      <a routerLink="/signIn">Click here to sign in</a>
    </p>
  </div>
</div>
